[flake8]
select = ANN,B,B9,BLK,C,D,DAR,E,F,I,S,W
docstring-convention = google
max-complexity = 10
ignore = E203,E501,W503,ANN101
max-line-length = 80
application-import-names = src,pipelines,tests
import-order-style = google
per-file-ignores =
    tests/*:S101,ANN,D102
